body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
margin: 50px auto 0 auto;/*this centers it when width is applied, order of values is top right bottom left but can be shortened to topright, bottomleft as shown*/
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: khaki;
  width:5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.profile-pic{
  margin-top: 30px;
}

.comp-pic {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.weight-pic{
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #d2f6c5;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #d2f6c5;
  height: 100px;
  padding: 30px;
  margin-top: 30px;
}

.topcloud{
  position:absolute;
  right: 300px;
  top: 50px;
}

.bottomcloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}

.footer-link {
  padding: 30px;
}

.copyright{
  margin-top: 30px;
  font-size: 0.75rem;
  color: white;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 30%;
  margin: 40px auto 60px; /* top leftright bottom */
}

.btn {
  background-color: #d2f6c5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background-color: green;
}
